{% load staticfiles %}
    <html>
        <head>
            <title>Mi Encuesta</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/aplicacion.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        </head>
        <body>
        <header>
            <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barranavegacion">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Mi Encuesta</a>
            </div>

            <div class="collapse navbar-collapse" id="barranavegacion">
                <ul class="nav navbar-nav">
                <li><a href="{% url 'aplicacion.views.lista_encuesta' %}">Inicio</a></li>
                <li><a href="{% url 'aplicacion.views.nueva_encuesta' %}">Nueva Encuesta</a></li>
                <li><a href="#}">Informacion</a></li>
                </ul>

                <p>Estas logueado como {{ user.username|capfirst }}, <a href="{% url 'aplicacion.views.logout' %}">Cerrar Sesion</a></p>

                </div>
                </div>
                </nav>
                </header>
            <div class="page-header">
                <h1><a>Mi encuesta</a></h1>
                <h2><a>Tu sitio para crear encuestas para el proceso electoral.</a></h2>
            </div>

            <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
        </body>
    </html>
