{% extends 'aplicacion/base.html' %}

{% block content %}
                {% for encuesta in encuestas %}
            <div class="encuesta">
                        <div class="date">
                            {{ encuesta.fecha_creacion }}
                        </div>
                        <h1><a href="{% url 'aplicacion.views.detalle' pk=encuesta.pk %}">{{ encuesta.nombre }}</a></h1>
                        <p>universo: {{ encuesta.universo|linebreaksbr }}</p>
                </div>
                {% endfor %}
                {% endblock content %}